<div class="about-column-container">
	<div class="about-column about-column1">
		<div class="about-column-photo about-column-photo1"> 
		</div>
		George Xia founded Jetty Jetpacks after having the most vivid fever-dream. He imagined himself soaring among the clouds and asked himself simply, "why not?" What followed in next months was a combination of ingenuity, good luck, and a technological breakthough that led to the formation of the company.

		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>

	<div class="about-column about-column2">
		<div class="about-column-photo about-column-photo2">
		</div>
		Financial backer Ian Zolitor had been biding his time in pool halls and planetariums when he was approached about this venture. His lifelong hatred of winged animals was his single biggest motivating factor to getting involved. He saw Jetty Jetpacks as an opportunity to assert the superiority of humankind and reclaim the skies that he believed were rightfully theirs. 

		t in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>

	<div class="about-column about-column3">
		<div class="about-column-photo about-column-photo3">
		</div>
		President and CEO Ethan Megill graduated top in his class from the most prestigeous Business School in Southwestern Kansas. His cutthroat accumen proved dire for all Jetpack competitors and he has successfully built this empire of flight, despite his crippling aversion to the belief in gravity. 

		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
</div>