


<div class="outer-modal">
	<div class="inner-modal">
		<div class="close">&times;</div>
			<div class="content">
				<div>
					<form action= "/toserver" method= "POST">
					E-mail<input type="text" name="email">
					<div class="">

					</div>
					<textarea name="message" rows="10" cols="65"></textarea>
					<input type= "submit">
					</form>
				</div>
			</div>
		</div>
</div>
<div class="overlay"></div>

</div>
<div class="about-column-container">

</div>
<link rel="stylesheet" type="text/css" href="css/styles.css">

<%if  @name %>

<%else  %>
<script type="text/javascript" src= "contact.js"></script>
<%end%>
