<!-- 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 -->


<div class="outer-modal">
	
	<div class="inner-modal"> 
	<div class="close">&times;</div>
	<div class="content">
	
	<div>
	<form action= "" method: "">
		E-mail<input type="text" name="">
		<input type= "submit">
	</form>
</div>


	</div>

	</div>

</div>

<link rel="stylesheet" type="text/css" href="css/styles.css">
<script type="text/javascript" src= "contact.js"></script>