


<div class="outer-modal">
	<div class="inner-modal">
		<div class="close">&times;</div>
			<div class="content">
					<form action= "/toserver" method= "POST">
					<input type="text" name="email" placeholder="Your Email Address">
					<textarea name="message" placeholder="Write Your Message"></textarea>
					<div class="email-submit-button">
						<input type= "submit">
					</div>
					</form>
			</div>
		</div>
</div>
<div class="overlay"></div>

</div>
<div class="about-column-container">

</div>
<link rel="stylesheet" type="text/css" href="css/styles.css">
<script type="text/javascript" src= "contact.js"></script>
