<div class="outer-modal">
	
	<div class="inner-modal"> 
	<div class="content">
		E-mail<input type="text" name="">
		<input type= "submit">



	</div>

	</div>

</div>

<link rel="stylesheet" type="text/css" href="css/styles.css">
<script type="text/javascript" src= "contact.js"></script>