
<div class="contact-thanks">Thanks for contacting Us! We'll get back to you sometime in the next few weeks.</div>



<div class="outer-modal">
	<div class="inner-modal">
		<div class="close">&times;</div>
			<div class="content">
					<form action= "/toserver" method= "POST">

					<input type="text" name="email" placeholder="Your Email Address">
					<input type="text" name="subject" placeholder="Subject">
					<textarea name="message" placeholder="Write Your Message"></textarea>
					<div class="email-submit-button">
						<input type= "submit">
					</div>

					</form>
			</div>
		</div>
</div>
<div class="overlay"></div>

</div>
<div class="about-column-container">

</div>
<link rel="stylesheet" type="text/css" href="css/styles.css">

<%if  @name %>

<%else  %>
<script type="text/javascript" src= "contact.js"></script>
<%end%>
