        <nav>
            <div class="navBar">
                 <ul>
                    <li class="menuBar">Home</li>
                    <li class="menuBar">Product</li>
                    <li class="menuBar">Contact</li>
                    <li class="menuBar">About</li>
                </ul>
                
            </div>
        </nav>





<div class="main-container"> <%= yield %> </div>
<footer>
       <div class="footer">
                 <ul>
                    <li class="menuBar">E-mail: Customerservice@jetpacks.com</li>
                    <li class="menuBar">Location: Philadelphia</li>      
                </ul>         
         </div>

</footer>
<link rel="stylesheet" type="text/css" href="css/styles.css">
<script type="text/javascript" src= "main.js"></script>
