        <nav>
            <div class="navBar">
                 <ul>
                    <a href = "/home"><li class="menuBar">Home</li></a>
                    <a href = "/product"><li class="menuBar">Product</li></a>
                    <a href = "/contact"><li class="menuBar">Contact</li></a>
                    <a href = "/about"><li class="menuBar">About</li></a>
                </ul>
                
            </div>
        </nav>

<div class="main-container"> <%= yield %> </div>
<footer>
       <div class="footer">
                 <ul>
                    <li class="menuBar">E-mail: Customerservice@jetpacks.com</li>
                    <li class="menuBar">Location: Philadelphia</li>      
                </ul>         
         </div>

</footer>
<link rel="stylesheet" type="text/css" href="css/styles.css">
<!-- <script type="text/javascript" src= "main.js"></script> -->
