        <nav>
            <div class="navBar">
                 <ul>
                    <li class="jetty menuBar"> Jetty - Jetpacks </li>
                    <a href = "/home"><li class="menuBar">Home</li></a>
                    <a href = "/product"><li class="menuBar">Product</li></a>
                    <a href = "/contact"><li class="menuBar">Contact</li></a>
                    <a href = "/about"><li class="menuBar">About</li></a>
                    <li class="media"></li>
                </ul>

            </div>
        </nav>

<div class="main-container"> <%= yield %> </div>


 <div class="image1_jetpack_home">
     <div class="about-company">
Jetty Jetpack is a Limited Liability Corporation founded in 1846. It's all over the stock market. NASDAQ...NYSE...all that. You should definitely invest all your money in us. Not only is it a prudent use of your money, but you will get super rich and impress all your friends if you have any. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation


</div>
 </div>
<footer>
       <div class="footer">

                 <ul>
                    <li class="menuBar">E-mail: Customerservice@jetpacks.com</li>
                    <li class="menuBar">Location: Philadelphia</li>
                </ul>
         </div>

</footer>

<link rel="stylesheet" type="text/css" href="css/styles.css">
