
			<div class="float-left-area">
				<div class="inner-left">
				
						<h2> Kid's Jet packs </h2>
						<hr>
						<div class="product-image-container">
							<div class="product-info">
								<div class="product-image1 product-image"></div>
								<div class="prices">$400 Jet Pack</div>
							</div>	
							<div class="product-info">
								<div class="product-image2 product-image"></div>
								<div class="prices">$400 Jet Pack</div>
							</div>	
							<div class="product-info">
								<div class="product-image3 product-image"></div>
								<div class="prices">$400 Jet Pack</div>
							</div>	
								<div class="product-info">
								<div class="product-image1 product-image"></div>
								<div class="prices">$400 Jet Pack</div>
							</div>	
							<div class="product-info">
								<div class="product-image2 product-image"></div>
								<div class="prices">$400 Jet Pack</div>
							</div>	
							<div class="product-info">
								<div class="product-image3 product-image"></div>
								<div class="prices">$400 Jet Pack</div>
							</div>
								<div class="product-info">
								<div class="product-image1 product-image"></div>
								<div class="prices">$400 Jet Pack</div>
							</div>	
							<div class="product-info">
								<div class="product-image2 product-image"></div>
								<div class="prices">$400 Jet Pack</div>
							</div>	
							
						</div>
				
				</div>
			</div>
 	
				<div class="float-right-area">
					<div class="inner-right">

						<h3>Links to Reviews</h3>

							<a href="http://www.dailycamera.com/cu-news/ci_30905132/engineers-without-borders-gives-cu-boulder-students-engineering" target="_blank"> 
							<div class="reviews">
								
								MSNBC: Jetty Jetpacks 
								<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
								</p>
							</div>
								
							</a>
								<br/>

							<a href="http://www1.udel.edu/udaily/2015/may/engineers-without-borders-050615.html" target="_blank">
							<div class="reviews">
							
								Wired Magazine: First fidget Toys, now Jetty Jetpacks
								<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
								</p>
							</div>	
							</a>
								
							<a href="http://www.explorebigsky.com/msus-engineers-without-borders-hosts-5k-fundraising-run/20913" target="_blank">
							<div class="reviews">
								
								CNN: This is a gamechanger
								<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
								</p>
								
							</div>
							</a>
					</div>
				</div>
				
				
		