
			<div class="float-left-area">
				<div class="inner-left">
				
						<h2> Kid's Jetpacks </h2>
						<div class="product-image-container">
							<div class="product-image1 product-image"></div>
							<div class="product-image2 product-image"></div>
							<div class="product-image3 product-image"></div>
						</div>
				
				
				</div>
			</div>
 	
				<div class="float-right-area">
					<div class="inner-right">

						<h3>Links to Reviews</h3>

							<a href="http://www.dailycamera.com/cu-news/ci_30905132/engineers-without-borders-gives-cu-boulder-students-engineering" target="_blank"> 
								MSNBC: Jetty Jetpacks 

								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
							
								
							</a>
								<br/>

							<a href="http://www1.udel.edu/udaily/2015/may/engineers-without-borders-050615.html" target="_blank">
								Wired Magazine: First fidget Toys, now Jetty Jetpacks

								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
								
							</a>
								<br/>

							<a href="http://www.explorebigsky.com/msus-engineers-without-borders-hosts-5k-fundraising-run/20913" target="_blank">
							
								CNN: This is a gamechanger

								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
								<br/>
							
							</a>
					</div>
				</div>
				
				<div class="clear-floated"></div>
		