
			<div class="float-left-area">
				<div class="inner-left">
					<Article>
						<h2> Kid's and Jetpacks </h2>
							<br/>
						<h3>By Shay Castle</h3>
	 					
	 					<p>
	 						It's winter break at the University of Colorado in Boulder, 
						</p>

							<br/>

						</Article>
				
				</div>
			</div>
 	
				<div class="float-right-area">
					<div class="inner-right">

						<h3>Links to Reviews</h3>

							<a href="http://www.dailycamera.com/cu-news/ci_30905132/engineers-without-borders-gives-cu-boulder-students-engineering" target="_blank"> 
								CU Boulder Students Experience
								<img src="http://images.wisegeek.com/solar-power-engineer.jpg" class="imageThumbnails"> 
							</a>
								<br/>

							<a href="http://www1.udel.edu/udaily/2015/may/engineers-without-borders-050615.html" target="_blank">
								UD's Engineers develop ideas
								<img src="http://www.adu.ac.ae/Portals/0/Skins/ADU/Upload/UploadImage/IMG%2007-07-2014%2005=32=50.jpg" class="imageThumbnails">
							</a>
								<br/>

							<a href="http://www.explorebigsky.com/msus-engineers-without-borders-hosts-5k-fundraising-run/20913" target="_blank">
							
								Engineers go running
								<br/>
								<img src="https://cdn.crackergroup.com/videos/encoded/92/graduate-engineer-edem-dei_0000.jpg" class="imageThumbnails">
							</a>
					</div>
				</div>
				
				<div class="clear-floated"></div>
		