body{
	background: gray;

}


.pic1 {
	background-image: url("../images/pic1.jpg");
	height: 500px;
	width: 100%;
	background-size: 100% 100%;

}

.pic2 {
	background-image: url("../images/pic2.jpg");
	// height: 500px;
	// width: 100%;
	// background-size: 100% 100%;
}

.pic3 {
	background-image: url("../images/pic3.jpg");
	// height: 500px;
	// width: 100%;
	// background-size: 100% 100%;
}

.content_home1 {
	width: 30%;
	text-align:center;
}

.content_home2 {
	width: 30%;
	text-align:center;
}

.content_home3 {
	width: 30%;
	text-align:center;
}

.content_container {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 125px;

}

.header_home {
	text-align: center;
	color:white;
}






